body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

#gameCanvas {
  border: 1px solid #fff;
}

#score,
#speed {
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

#scoreValue,
#speedValue {
  font-weight: bold;
}
